body {
  background-color: black;
  color: #FFFFFF;

}

.kit-name {
  font-size: 16px;
  font-weight: bold;
}

.accordion {
  width: 100%;
  max-width: 600px;
  margin: auto;
  border: 2px solid #9E0042;
  border-radius: 5px;
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid #9E0042;
}


.accordion-header {
  color: #FFFFFF;
  font-weight: bold;
  background: transparent;
  border: none;
  outline: none;
  padding: 15px;
  width: 100%;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.4s ease;
}

.accordion-header:hover {
  background: #3333335E;
}

.accordion-content {
  display: none;
  padding: 15px;
  background: transparent;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-item {
  font-family: monospace;
  background-color: transparent;
  padding: 10px;
  border-color: #F5F5F5;
  border-radius: 5px;
  border-style: solid;
  font-weight: bold;
}


details > summary {
  padding: 10px;
  font-weight: bold;
}

details {
    border: 1px solid #9E0042;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 1px;
    border-radius: 8px;
    
    
}

details > div {
  padding: 8px;
}